name: Plugins CI
on:
  push:
    paths:
      - 'plugins/**'
      - 'tests/**'
      - '.github/workflows/ansible-test-plugins.yml'
  pull_request:
    paths:
      - 'plugins/**'
      - 'tests/**'
      - '.github/workflows/ansible-test-plugins.yml'
  schedule:
    - cron: '0 6 * * *'


env:
  proxysql_version_file: "./tests/integration/targets/setup_proxysql/defaults/main.yml"

jobs:
  sanity:
    name: "Sanity (Python: ${{ matrix.python }}, Ansible: ${{ matrix.ansible }})"
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        ansible:
          - stable-2.17
          - stable-2.18
          - stable-2.19
          - devel
    steps:
      - name: Perform sanity testing
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: ${{ matrix.ansible }}
          testing-type: sanity
          pull-request-change-detection: true

  integration:
    name: "Integration (Python: ${{ matrix.python }}, Ansible: ${{ matrix.ansible }}, ProxySQL: ${{ matrix.proxysql }})"
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        proxysql:
          - 2.7.2
        ansible:
          - stable-2.17
          - stable-2.18
          - stable-2.19
          - devel
        python:
          - 3.12
        include:
          - python: 3.12
            ansible: "stable-2.17"
            proxysql: 2.7.2
          - python: 3.13
            ansible: "stable-2.18"
            proxysql: 2.7.2
          - python: 3.13
            ansible: "stable-2.19"
            proxysql: 2.7.2

    steps:
      - name: >-
          Perform integration testing against
          Ansible version ${{ matrix.ansible }}
          under Python ${{ matrix.python }}
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: ${{ matrix.ansible }}
          pre-test-cmd: >-
            sed -i 's/^proxysql_version:.*/proxysql_version: \"${{ matrix.proxysql }}\"/g' ${{ env.proxysql_version_file }}
          target-python-version: ${{ matrix.python }}
          testing-type: integration
          pull-request-change-detection: true
